.intro__list{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    margin-top: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
}
@media all and (max-width: 425px) {
    .intro__title{
        margin-top: 34px;
    }
}
