.cover__subtitle{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-rendering: optimizeLegibility;
    z-index: 1;
}
@media all and (max-width: 425px) {
    .cover__subtitle{
        margin-top: 16px;
        max-width: calc(100% - 2 * 16px);
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .cover__subtitle{
        max-width: calc(100% - 2 * 204px);
    }
}
@media screen and (max-width: 1024px){
    .cover__subtitle{
        max-width: calc(100% - 2 * 332px);
    }
}
@media screen and (min-width: 1280px){
    .cover__subtitle{
        max-width: calc(100% - 2 * 412px);
    }
}