.place__paragraphs {
    grid-area: paragraph;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
}
  
@media screen and (max-width: 1023px) {
    .place__paragraphs {
        font-size: 16px;
    }
}
  
@media screen and (max-width: 767px) {
    .place__paragraphs {
        max-width: calc(100% - 2 * 16px);
        margin: 0 auto;
    }
}