.lead__title{
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .lead__title{
      margin-left: 16px;
      margin-right: 16px;
      max-width: 288px;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px){
  .lead__title{
      margin-left: 24px;
      margin-right: 24px;
      max-width: 720px;
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 100px;
      text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .lead__title{
      margin: 0;
      margin-left: 152px;
      margin-right: 152px;
      max-width: 720px;
      font-style: normal;
      font-weight: bold;
      font-size: 96px;
      line-height: 100px;
      text-align: center;
  }
}
@media screen and (min-width: 1280px){
  .lead__title{
      margin-left: 280px;
      margin-right: 280px;
      max-width: 720px;
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 100px;
      text-align: center;
  }
}