.cover__title{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    text-rendering: optimizeLegibility;
    max-width: calc(100% - 2 * 312px);
    z-index: 1;
}
@media screen and (max-width: 1279px) {
    .cover__title {
        max-width: calc(100% - 2 * 232px);
    }
}
  
@media screen and (max-width: 1023px) {
    .cover__title {
        max-width: calc(100% - 2 * 104px);
    }
}
  
@media screen and (max-width: 767px) {
    .cover__title {
        max-width: calc(100% - 2 * 16px);
        font-size: 32px;
        line-height: 1.09;
    }
}