.intro__title{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
}
@media screen and (max-width: 1023px){
    .intro__title{
        width: 720px;
    }
}
@media all and (max-width: 767px) {
    .intro__title{
        width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}